<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>远程文件管理器</title>
    <link rel="stylesheet" href="/element-ui/lib/theme-chalk/index.css">
    <script src="/vue/dist/vue.js"></script>
    <script src="/axios/dist/axios.js"></script>
    <script src="/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app">
    <!-- 当前目录：<span th:text="${parentPath}" id="parentPath"></span>
     <table>

         <br>
         <tr th:if="${fileNames==null}">当前目录无文件</tr>
         <tr th:each="fileName : ${fileNames}">
             <td th:text="${fileName}"></td>
             <td><a href="#" th:href="@{/download/{downFileName}/(downFileName=${fileName},(parentPath=${parentPath}))}">下载</a>
             </td>

         </tr>

         <br> <br>

         子目录：<br>
         <tr th:if="${directoryNames==null}">当前目录无子目录</tr>

         <tr th:each="directoryName : ${directoryNames}">
             <td th:text="${directoryName}" class="par"></td>
             <td><a href="#" th:href="@{/file/(childPath=${directoryName},parentPath=${parentPath})}">打开</a></td>

         </tr>

     </table>-->
    <el-button  @click="returnLastPath" type="success" round >返回上级目录</el-button>
    <el-table
            ref="multipleTable"
            :data="tableData"
            tooltip-effect="dark"
            style="width: 100%"
            @selection-change="handleSelectionChange">
        <el-table-column
                type="selection"
                width="55">
        </el-table-column>

        <el-table-column
                prop="name"
                label="文件名"
               >
        </el-table-column>
        <el-table-column
                prop="type"
                label="类型"
                width="120"
                show-overflow-tooltip>
        </el-table-column>
        <el-table-column
                prop="size"
                label="大小"
                width="120"
                show-overflow-tooltip>
        </el-table-column>
        <el-table-column
                fixed="right"
                label="操作"
                >
            <template slot-scope="scope">
                <el-button v-if="scope.row.type=='文件夹'" @click="getFileList(parentPath,scope.row.name)" type="text" size="small">查看文件夹</el-button>
                <el-button type="text" size="small" @click="rename(scope.row.name,parentPath)">重命名</el-button>
            </template>
        </el-table-column>
    </el-table>
</div>


<script>
    const app = new Vue({
            el: "#app",

            data: {
                lastPath: [],
                parentPath: "",
                tableData: [{
                    size: 0,
                    name: "",
                    url: ""

                }],
                multipleSelection: []

            },
            created() {
                this.initPage();
            },
            methods: {
                //返回上一级目录
                returnLastPath(){
                    var path = this.lastPath.pop();
                    axios.get(`/file?parentPath=${path}`).then(
                        response => {

                            //获取文件列表数据
                            var fileNames = response.data.data.fileNames;
                            var directoryNames = response.data.data.directoryNames;

                            this.tableData = directoryNames.concat(fileNames);

                            //获取上传路径
                            this.inputPath = response.data.data.inputPath;
                            //获取父路径
                            this.parentPath = response.data.data.parentPath;
                        }
                    ).catch();

                },
                //获取文件列表
                getFileList(parentPath="",childPath=""){
                    axios.get(`/file?parentPath=${parentPath}&childPath=${childPath}`).then(
                        response => {
                            var last = this.lastPath;
                            last.push(this.parentPath);
                            //获取文件列表数据
                            var fileNames = response.data.data.fileNames;
                            var directoryNames = response.data.data.directoryNames;

                            this.tableData = directoryNames.concat(fileNames);

                            //获取上传路径
                            this.inputPath = response.data.data.inputPath;
                            //获取父路径
                            this.parentPath = response.data.data.parentPath;
                        }
                    ).catch();
                },

                //文件重命名
                rename(oldName,parentPath=""){


                    this.$prompt('请输入邮箱', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        inputValue:oldName
                    }).then(({ value }) => {

                        axios.get(`/rename?oldName=${oldName}&newName=${value}&parentPath=${parentPath}`).then(
                            response=>{

                                this.$message({
                                    message: '重命名成功',
                                    type: 'success'
                                });
                                this.getFileList(parentPath);
                            }
                        ).catch();

                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '取消重命名'
                        });
                    });



                },

                initPage() {
                    console.log("页面初始化");
                    this.getFileList();
                },
                handleRemove(file, fileList) {
                    console.log(file, fileList);
                    axios.delete(`/file?parentPath=${this.parentPath}&childPath=${file.name}`).then(
                        reponse => {
                            this.$message({
                                showClose: true,
                                message: `删除${file.name}成功`,
                                type: 'success'
                            });

                        }
                    ).catch();
                },
                beforeRemove(file, fileList) {
                    return this.$confirm(`确定移除 ${file.name}？`);
                },
                toggleSelection(rows) {
                    if (rows) {
                        rows.forEach(row => {
                            this.$refs.multipleTable.toggleRowSelection(row);
                        });
                    } else {
                        this.$refs.multipleTable.clearSelection();
                    }
                },
                handleSelectionChange(val) {
                    this.multipleSelection = val;
                }

            }

        })
    ;

</script>

</body>


</html>