<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>远程文件管理器</title>
    <link rel="stylesheet" href="/element-ui/lib/theme-chalk/index.css">
    <script src="/vue/dist/vue.js"></script>
    <script src="/axios/dist/axios.js"></script>
    <script src="/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app">



    <el-main>
        <el-row>
            <el-col style="text-align: center" >

                <span style="color: #409EFF">
                     当前路径：{{inputPath}}
                </span>


            </el-col>
        </el-row>
        <el-row>


            <el-col :span="8">
                <div class="grid-content bg-purple-light">
                    <el-button @click="returnLastPath" type="success" round>返回上级目录</el-button>
                </div>
            </el-col>
            <el-col :span="8">
                <div class="grid-content bg-purple-light">
                    <el-button @click="createDir" type="success" round>创建新目录</el-button>
                </div>
            </el-col>

            <el-col :span="8">
                <div class="grid-content bg-purple">
                    <el-upload
                            class="upload-demo"
                            :action="getUploadUrl()"
                            :on-preview="handlePreview"
                            :on-remove="handleRemove"
                            :before-remove="beforeRemove"
                            multiple
                            :on-success="onSuccess"
                    >


                        <el-button type="primary" round>点击上传</el-button>


                    </el-upload>
                </div>
            </el-col>
        </el-row>


        <el-table
                ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%"
                @selection-change="handleSelectionChange">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>

            <el-table-column
                    prop="name"
                    label="文件名"
            >
            </el-table-column>
            <el-table-column
                    prop="type"
                    label="类型"
                    width="120"
                    show-overflow-tooltip>
            </el-table-column>
            <el-table-column
                    prop="size"
                    label="大小"
                    width="120"
                    show-overflow-tooltip>
            </el-table-column>
            <el-table-column
                    fixed="right"
                    label="操作"
            >
                <template slot-scope="scope">
                    <el-button v-if="scope.row.type=='文件夹'" @click="enterDirecrtory(parentPath,scope.row.name)" type="text"
                               size="small">查看文件夹
                    </el-button>
                    <el-button type="text" size="small" @click="rename(scope.row.name,parentPath)">重命名</el-button>
                    <el-button type="text" size="small" @click="deleteFile(parentPath,scope.row.name)">删除</el-button>

                    <el-link v-if="scope.row.type!='文件夹'" type="primary"  :href="'/download?downFileName='+scope.row.name+'&parentPath='+parentPath">下载</el-link>

                </template>
            </el-table-column>
        </el-table>
    </el-main>
</div>


<script>
    const app = new Vue({
            el: "#app",

            data: {
                inputPath: "",
                lastPath: [],
                fileList: [],
                parentPath: "",
                tableData: [{
                    size: 0,
                    name: "",
                    url: ""

                }],
                multipleSelection: [],
                url:"/upload?parentPath="+this.parentPath

            },
            created() {
                this.initPage();
            },
            methods: {
                //进入文件夹
                enterDirecrtory(parentPath,childPath){
                    this.recordLastPath();
                    this.getFileList(parentPath , childPath);
                },
                //记录上一个文件夹路径
                recordLastPath(){
                    var last = this.lastPath;
                    last.push(this.parentPath);
                },
                //创建新目录
                createDir(){

                    this.$prompt('输入文件夹名字', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消'
                    }).then(({ value }) => {

                        axios.get(`/createdir?dirName=${value}&parentPath=${this.parentPath}`).then(
                            response=>{
                                if (response.data.code==20000){
                                    this.getFileList(this.parentPath);
                                    this.$message({
                                        type: 'success',
                                        message: '创建成功'
                                    });

                                }
                            }
                        ).catch();


                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '取消操作'
                        });
                    });
                },
                getUploadUrl(){
                    return "/upload?parentPath="+this.parentPath;
                },
                //返回上一级目录
                returnLastPath() {
                    var path = this.lastPath.pop();
                    axios.get(`/file?parentPath=${path}`).then(
                        response => {

                            //获取文件列表数据
                            var fileNames = response.data.data.fileNames;
                            var directoryNames = response.data.data.directoryNames;

                            this.tableData = directoryNames.concat(fileNames);

                            //获取上传路径
                            this.inputPath = response.data.data.inputPath;
                            //获取父路径
                            this.parentPath = response.data.data.parentPath;
                        }
                    ).catch();

                },
                //获取文件列表
                getFileList(parentPath = "", childPath = "") {
                    axios.get(`/file?parentPath=${parentPath}&childPath=${childPath}`).then(
                        response => {

                            //获取文件列表数据
                            var fileNames = response.data.data.fileNames;
                            //防止因为无文件和出现错误
                            if (fileNames == null || fileNames == "null") {
                                fileNames = "";
                            }

                            var directoryNames = response.data.data.directoryNames;
                            if (directoryNames == null || directoryNames == "null") {
                                directoryNames = "";
                            }
                            this.tableData = directoryNames.concat(fileNames);

                            //获取上传路径
                            this.inputPath = response.data.data.inputPath;
                            //获取父路径
                            this.parentPath = response.data.data.parentPath;
                        }
                    ).catch();
                },

                //文件重命名
                rename(oldName, parentPath = "") {


                    this.$prompt('请输入新名字', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        inputValue: oldName
                    }).then(({value}) => {

                        axios.get(`/rename?oldName=${oldName}&newName=${value}&parentPath=${parentPath}`).then(
                            response => {

                                this.$message({
                                    message: '重命名成功',
                                    type: 'success'
                                });
                                this.getFileList(parentPath);
                            }
                        ).catch();

                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '取消重命名'
                        });
                    });


                },

                //删除文件
                deleteFile(parentPath = "", childPath) {

                    console.log("删除文件")
                    this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        axios.delete(`/file?parentPath=${parentPath}&childPath=${childPath}`).then(
                            reponse => {
                                this.$message({
                                    showClose: true,
                                    message: `删除${childPath}成功`,
                                    type: 'success'
                                });

                                this.getFileList(parentPath);
                            }
                        ).catch();

                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });

                },

                initPage() {
                    console.log("页面初始化");
                    this.getFileList();
                },

                handleRemove(file, fileList) {
                    console.log(file, fileList);
                    axios.delete(`/file?parentPath=${this.parentPath}&childPath=${file.name}`).then(
                        reponse => {
                            this.$message({
                                showClose: true,
                                message: `删除${file.name}成功`,
                                type: 'success'
                            });

                        }
                    ).catch();
                },

                beforeRemove(file, fileList) {
                    return this.$confirm(`确定移除 ${file.name}？`);
                },

                toggleSelection(rows) {
                    if (rows) {
                        rows.forEach(row => {
                            this.$refs.multipleTable.toggleRowSelection(row);
                        });
                    } else {
                        this.$refs.multipleTable.clearSelection();
                    }
                },

                handleSelectionChange(val) {
                    this.multipleSelection = val;
                },

                handleRemove(file) {

                    var vue = this;

                    console.log(this.parentPath);

                    axios.delete(`/file?parentPath=${vue.parentPath}&childPath=${file.name}`).then(
                        response => {
                            if (response.data.code == 20000) {
                                this.$message({
                                    showClose: true,
                                    message: `删除${file.name}成功`,
                                    type: 'success'
                                });
                            }


                        }
                    ).catch();
                },

                handlePreview(file) {
                    console.log(file);
                },


                beforeRemove(file) {
                    return this.$confirm(`确定移除 ${file.name}？`);
                },

                onSuccess(response, file) {
                    this.$message({
                        showClose: true,
                        message: `上传${file.name}成功`,
                        type: 'success'
                    });
                    this.getFileList(this.parentPath);


                }

            },


        })
    ;

</script>

</body>


</html>